*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(135deg,#667eea,#764ba2);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
width:90%;
max-width:500px;
padding:30px;
border-radius:15px;
box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

header{
text-align:center;
margin-bottom:20px;
}

.balance-box{
background:#4facfe;
color:white;
padding:20px;
border-radius:10px;
margin-top:10px;
}

.filter-section{
display:flex;
gap:10px;
margin-top:15px;
justify-content:center;
}

#export-btn{
background:#22c55e;
}

#export-btn:hover{
background:#16a34a;
}

.input-section form{
display:grid;
gap:10px;
margin-top:20px;
}

input,select{
padding:12px;
border:1px solid #ddd;
border-radius:8px;
font-size:15px;
}

button{
padding:12px;
border:none;
background:#4facfe;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#0099ff;
}

.expense-section{
margin-top:25px;
}

ul{
list-style:none;
}

.expense-item{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
border-bottom:1px solid #eee;
animation:fade .3s ease;
}

.info p{
font-size:13px;
color:gray;
}

.delete{
background:red;
border:none;
color:white;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
}

#empty{
text-align:center;
margin-top:20px;
color:gray;
display:none;
}

@keyframes fade{
from{opacity:0;transform:translateY(10px);}
to{opacity:1;transform:translateY(0);}
}